*{
    font-family: 'Courier New', Courier, monospace;
}
#jota{
    background-color: #7bd879;
    padding: 30px;
}
.enlace{
    font-family: fantasy; 
    color:#822121;
}

.enlace:hover{
    font-weight: 900;
    font-size: 20px;
    transition: 1s;
}
.verde .enlace{
    color:green;
}
#lista {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.azul{
    font-size: 16px;
}